@model Real_Estate.Models.Appointment

@{
    ViewData["Title"] = "Edit";
}
<head>
    <!-- Design by foolishdeveloper.com -->
    <title>Glassmorphism login Form Tutorial in html css</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="C:\Users\COLLABERA\Desktop\Capstone01\Real_Estate\wwwroot\css\site.css">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

</head>

@*<h1>Edit</h1>

<h4>Appointment</h4>
<hr />*@

<body class="propertyBody">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <h3 class="whiteText">Edit Appointment</h3>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="propertyId" class="whiteText">Property ID</label>
                    <select asp-for="propertyId" class="form-control" asp-items="ViewBag.propertyId"></select>
                    <span asp-validation-for="propertyId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="clientId" class="whiteText">Client ID</label>
                    <select asp-for="clientId" class="form-control" asp-items="ViewBag.clientId"></select>
                    <span asp-validation-for="clientId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ownerId" class="whiteText">Owner ID</label>
                    <select asp-for="ownerId" class="form-control" asp-items="ViewBag.ownerId"></select>
                    <span asp-validation-for="ownerId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="propertytypesId" class="whiteText">Property Type ID</label>
                    <select asp-for="propertytypesId" class="form-control" asp-items="ViewBag.propertytypesId"></select>
                    <span asp-validation-for="propertytypesId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="whiteText">Status</label>
                    <input asp-for="Status" class="form-control" />
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="buttonDiv">
                    <button input type="submit" value="Save" class="whiteText">Save</button>
                    <div>
                        <a asp-action="Index" class="whiteText">Back to List</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
